<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>projeto</title>
</head>
<body>
<div id="formContainer" class="d-flex flex-column justify-content-center align-items-center p-2">

  <h2>CADASTRO<br>
  <span>Faça seu cadastro</span></h2>
    
    <div class="input-container">
      <label for="username">
        <i class="fas fa-user"></i>Nome:
      </label>
      <input type="text" id="username" placeholder="Insira seu nome" name="username" class="form-control" [formControl]="username">
    </div>
    <div class="input-container">
      <label for="email">
        <i class="fa-solid fa-envelope"></i>Email:
      </label>
      <input type="text" id="email" placeholder="Insira seu email" name="email" class="form-control" [formControl]="email">
    </div>
    <div class="input-container">
      <label for="password">
        <i class="fa-solid fa-key"></i>Senha:
      </label>
      <input type="password" id="senha" placeholder="     Insira sua senha" name="senha" class="form-control" [formControl]="password">
    </div>

    <button class="btn btn-primary" (click)="cadastrarUsuario()">Cadastrar</button>
    <div *ngIf="showErrorMessages" class="alert alert-danger" role="alert">
      Erro ao cadastrar usuário!
    </div>
    <br>
    <a class="sign_up" (click)="redirecionarParaLogin()" >Já tem conta? Fazer login</a>
    <br>
  
</div>
</body>
</html>
