<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
        <div class="container-header">
            <h1>GREENPLACE</h1>
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-main">
            <h4>Compre suas <br> <span>plantas</span> <br> favoritas!</h4>
            <section id="banner">
            <img src="assets/img/HOME.png" width="1050px">
        </section>
        </div>
    <section class="features">
        <div class="container">
            <h2>sobre nós</h2>
            <div class="container_img">
            <img class="plata_home" src="assets/img/planta2.png" width="400px">
            <h1 class="text-about">Somos um mercado online que busca <br>
                encontrar as melhores opções de mudas e sementes com base nas suas preferências. Através da nossa ferramenta,
                você pode adquirir suas plantas favoritas!</h1>
        </div>
            <div class="feature">
                <div class="btn-feature">
             <button class="btn-about">Quero me Cadastrar!</button>
            </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 GREENPLACE. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
