<html>
<body>

  <div class="container">
    <div class="card" *ngFor="let plant of plants">
      <img src="{{plant.imagem}}" alt="Planta">
      <div class="card-content">
        <h3>{{plant.nome}}</h3>
        <p>{{plant.descricao}}</p>
        <p>{{plant.preco}}</p>
      </div>
      <div class="card-actions">
        <button class="btn" (click)="adicionarAoCarrinho(plant)">Adicionar ao Carrinho</button>
        <a href="#" class="btn">Ver Detalhes</a>
      </div>
    </div>
  </div>

</body>
</html>